<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.project.roas.demo2">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/roasicon144"
        android:label="로아스"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRcameraActivity" />
        <activity android:name=".MenuDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.demo.project.roas.demo2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ReviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ReviewWrite"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".SeatPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".RankList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompletePopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".OrderPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".NumControlPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".CartActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".TableDetail"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <servi1e
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </servi1e>
    </application>

</manifest>